.products {
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
}

.products__container {
  padding: 86px 15px 120px;

  @media (max-width: 1023px) {
    padding: 92px 15px 100px;
  }
}

.products__title {
  margin-bottom: 48px;

  text-align: center;

  @media (max-width: 1023px) {
    margin-bottom: 51px;
  }
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 30px;

  perspective: 1000px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 309px);
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.products__item {
}
