.products {
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
}

.products__container {
  padding: 86px 15px 120px;
}

.products__title {
  margin-bottom: 48px;

  text-align: center;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 30px;

  perspective: 1000px;
}

.products__item {
}
