.promo {
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  color: $color-project-white;
}

.promo__container {
  padding: 155px 0 278px 95px;

  @media (max-width: 1023px) {
    padding: 183px 0 275px 0;
  }

  @media (max-width: 767px) {
    padding-top: 107px;
    padding-bottom: 179px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 54px;
  line-height: 66px;
  font-weight: 700;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1023px) {
    font-size: 50px;
    line-height: 61px;

    text-shadow: none;
  }

  @media (max-width: 767px) {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 45px;
  }
}

.promo__slogan {
  margin: 0;

  font-size: 20px;
  line-height: 24px;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & br {
    display: none;
  }

  @media (max-width: 1023px) {
    font-size: 18px;
    line-height: 22px;

    text-shadow: none;
  }

  @media (max-width: 767px) {
    font-size: 16px;

    & br {
      display: block;
    }
  }
}
